body,p,h1,h2,h3,h4,h5,h6,ul,li{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
html,body,#app,.el-container{
    height: 100%;
}
.el-main{
    padding: 0 !important;
}

/* 弹窗样式-----------开始 */
.qinjeeDialogSmall>div{
    width: 560px !important;
}
.el-dialog__header{
    text-align: left;
}
/* 弹窗样式-----------结束 */