/* 公共样式-加上该类名即可实现公共样式 */
/* 去掉数字输入框右边的小箭头-----------开始 */
.removeNumberInput input::-webkit-outer-spin-button,
.removeNumberInput input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.removeNumberInput input[type="number"] {
    -moz-appearance: textfield;
}
/* 去掉数字输入框右边的小箭头-----------结束 */


/* 右侧内容区样式 */
.commonRightCont{
    width: 100%;
    height: 100%;
    border: 10px solid #F0F0F0;
    border-bottom: none;
    box-sizing: border-box;
    background-color: #fff;
}
/* 右侧内容区样式 */